#cv-container {
    max-width: 60em;
    min-width: 50em;
    min-height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1em solid rgb(41, 45, 51);
    border-left: 1em solid rgb(41, 45, 51);
    border-bottom: 1em solid rgb(41, 45, 51);
}

#cv-header {
    width: auto;
    color: whitesmoke;
    background-color: rgb(30, 74, 139);
    padding: 1.25em;
}

#cv-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(41, 45, 51);
    height: 100%;
    width: auto;
}

#primary-content {
    height: 100%;
    width: auto;
}

.display-heading {
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(30, 74, 139);
}

.content-heading {
    font-weight: 600;
    margin-bottom: 0.5em;
}

#sidebar-content {
    width: auto;
    max-width: 35%;
    background-color: rgb(229, 232, 236);
}

#name-display {
    margin-bottom: 0.25em;
    font-size: 2.5em;
}

#title-display {
    font-size: 1.5em;
}

#cv-description {
    margin: 2em 1.25em 0 1.25em;
}

#experience-div {
    margin: 2em 1.25em 0 1.25em;
}

#education-div {
    margin: 2em 1.25em 0 1.25em;

}

#description-display {
    margin-top: 1em;
    line-height: 1.5;
}

#personal-div {
    padding: 1em;
}

#personal-div .display-heading {
    margin-top: 0.85em;
}

#personal-div .content-heading {
    margin-top: 1.5em;
    margin-bottom: 0.35em;
}