.content-heading {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.education {
    display: flex;
    flex-direction: row;
    margin: 1.5em 0;
}

.year {
    margin-right: 3em;
    white-space: nowrap;
}

.position {
    width: 100%;
    white-space: nowrap;
}

#degree-display {
    margin: 0.5em 0;
}