main {
    display: flex;
    flex-direction: column;
}

#header {
    padding: 1.5em;
    background-color: rgb(41, 45, 51);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header i {
    margin-right: 0.25em;
    margin-bottom: 0.1em;
    font-size: 2em;
}

#content {
    display: flex;
    flex-direction: row;
}

button, input {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 1.25em;
    border: 0;
    border-radius: 5px;
}

button {
    background-color: rgb(46, 46, 46);
    padding: 0.7em;
    font-weight: 700;
    color: whitesmoke;
    transition: background-color 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(26, 61, 114);
}

button:active {
    background-color: rgb(42, 90, 163);
}

.delete {
    background-color: rgb(30, 74, 139);
}

.add {
    background-color: rgb(30, 74, 139);
}

hr {
    border: none;
    height: 1px;
    margin: 0.2em 0;
    background-color: rgba(150, 150, 150, 0.582);
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {

    body {
        font-size: 11px;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #cv-container {
        width: 100%;
        height: 70em;
    }

    #input-container {
        width: auto;
        border-right: 1em solid rgb(41, 45, 51);
    }
}